body {
	text-align:left;
}
.mainWrapper {
	padding: 20px 30px;
	width:960px;
}
a.moreLink {
	color: red;
}
a.moreLink.clicked {
	color: #dd0000;
}
div.moreSection {
	display:none;
	border:1px solid #333;
	border-radius:10px;
	padding:3px;
	margin:10px 20px;
}
